@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Different options that guarantee comfort and safety for your vehicle</a>.</p>
</div>
