@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container custom-container">
    <h1 class="display-4">Welcome</h1>
    <p>Different options that guarantee comfort and safety for your vehicle</a>.</p>
    <a href="#home" class="btn btn-info">Ver más</a>
</div>
